@{
    ViewData["Title"] = "Index Home";
}


@section SideBar{
            <h2>¡Bienvenido!</h2> 
         <img src="./css/img/1.jpg" alt= "imagen desayuno" />
         <img src="./css/img/2.jpg" alt= "imagen desayuno" />
         <img src="./css/img/3.jpg" alt= "imagen desayuno" />
}


     <h2>@ViewBag.Nombre</h2>
     <h3>@ViewBag.Fecha</h3>

     <div class="boton">

@Html.ActionLink("Ir a Recetas","Index","Receta")
</div>
