@{
    ViewData["Title"] = "Index Home";
}


@section SideBar{
            <h2>¡Bienvenido!</h2> 
         <img src="#" alt= "imagen desayuno" />
         <img src="#" alt= "imagen desayuno" />
         <img src="#" alt= "imagen desayuno" />
}


     <h2>@ViewBag.Nombre</h2>
     <h3>@ViewBag.Fecha</h3>

@Html.ActionLink("Ir a Recetas","Index","Receta")
